.containerViaja1 {
  width: 100%;
  background-color: #441a7b;
  display: grid;
  grid-template-columns: 20% repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
  padding: 3rem 0;
  gap: 2rem;
  .info {
    h1,
    h3 {
      font-weight: bold;
    }
    h1 {
      color: white;
      font-size: 2rem;
      margin: 0px;
    }
    h3 {
      color: #36de94;
      font-size: 1.5rem;
    }
    p {
      margin-top: 1.5rem;
      color: white;
      font-size: 1rem;
    }
    section {
      margin-top: 1.8rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      width: 100%;
      .linea {
        margin: 0px;
        padding: 0px;
        width: 90px;
        height: 20px;
        background-color: white;
        border-radius: 100px;
      }
      .linea:nth-child(2) {
        margin: 0 1rem;
      }
    }
    .paises {
      margin-left: 0px;
      margin-top: 2rem;
      img:nth-child(2) {
        margin: 0px 1rem;
      }
      img:nth-child(4) {
        margin-left: 1rem;
      }
    }
  }
  .thirdSection {
    span {
      color: #441a7b;
      background-color: white;
      border-radius: 20px;
      padding: 8px 3rem;
      font-weight: bolder;
      font-size: 1.2rem;
      transition: all 300ms;
      &:hover {
        background-color: #36de94;
        color: white;
      }
    }
  }
}

@media (max-width: 310px) {
  .containerViaja1 {
    .info {
      h1 {
        font-size: 1.5rem;
      }
      h3 {
        font-size: 1.3rem;
      }
    }
  }
}

@media (max-width: 400px) {
  .containerViaja1 {
    .info {
      .lineas {
        margin: 0px;
        justify-content: center;
        .linea {
          width: 50px;
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .containerViaja1 {
    grid-template-columns: repeat(1, 100%) !important;
  }
}

@media (max-width: 840px) {
  .containerViaja1 {
    grid-template-columns: repeat(2, 1fr);
    .info {
      padding: 0 2rem;
    }
    > img:nth-child(1) {
      display: none;
    }
  }
}
