.containerNavbar {
  align-items: center;
  background-color: #000;
  color: white;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  min-height: 40px;
  opacity: 0.8;
  position: relative;
  top: 0;
  padding: 0 1rem;
  padding-bottom: 5px;
  width: 100%;
  z-index: 999;
  .firstSection {
    display: flex;
    flex-basis: 60%;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 15px;
    @media screen and (max-width: 1223px) {
      padding-top: 0px;
    }
    .logoCitybest {
      display: none;
      @media screen and (max-width: 893px) {
        display: block;
        margin-right: 12px;
        figure {
          img {
            width: 5.2rem !important;
            padding: 5px;
          }
        }
      }
    }
    .mp {
      display: flex;
      flex-flow: row wrap;
      // justify-content: center;
      // align-items: center;
      span {
        font-size: 1rem;
        margin: 0 7px;
      }
    }
    .fpay {
      margin: 0 1rem;
    }
    .honor {
      display: flex;
      flex-flow: row wrap;
      span {
        font-size: 1rem;
        margin: 0 5px;
      }
    }
    .vehiculoElectrico {
      display: flex;
      flex-flow: row wrap;
      margin: 0 1rem;
      span {
        font-size: 1rem;
        margin-left: 7px;
      }
    }
    .electron {
      margin-left: 12px;
      @media screen and (max-width: 704px) {
        display: none;
      }
    }
    figure {
      .img {
        min-width: "20px" !important;
      }
    }
  }
  .secondSection {
    display: flex;
    flex-basis: 40%;
    flex-flow: row wrap;
    justify-content: flex-end;
    .imgLogoCityBest,
    .imgBanner {
      display: none;
    }
    span {
      margin-left: 7px;
    }
    .help,
    .countries {
      display: flex;
      flex-flow: row wrap;
      span {
        cursor: pointer;
      }
    }
    .atention {
      display: flex;
      flex-flow: row wrap;
      margin: 0 1rem;
      span {
        cursor: pointer;
      }
    }
    .countries {
      justify-content: flex-end;
    }
  }
  .secondSectionHamburguer {
    position: fixed;
    align-items: center;
    align-items: center;
    background-color: #441a7b;
    background: linear-gradient(45deg, #441a7b, rgb(112, 67, 67));
    border-radius: 10px;
    box-shadow: 0px 0px 100px black inset;
    color: white;
    flex-flow: column wrap;
    justify-content: "center";
    padding: 12px;
    margin-bottom: 1rem;
    top: 12%;
    left: 10%;
    width: 80%;
    > div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap;
      span {
        margin-left: 12px;
      }
    }
  }
  .secondSection,
  .secondSectionHamburguer {
    .countries {
      cursor: pointer;
      .selectPaises {
        position: relative;
        .menuSelectPaises {
          display: flex;
          flex-flow: column wrap;
          position: absolute;
          width: fit-content;
          top: 65px;
          height: fit-content;
          padding: 5px 0px !important;
          // border: 1px solid black;          
          background-color: rgba(3, 213, 134, 1);          
          color: black;
          border-radius: 35px;
          // padding: 3px 12px;
          // box-shadow: 0px 0px 15px black inset;
          
          span {
            width: 4rem;
          }
          // div {
          //   box-shadow: 0px 1px 1px black, 1px 2px 1px black, 2px 3px 1px black;
          // }
          div:nth-child(2) {
            margin-bottom: 10px;
            margin-top: 10px;
          }
          div:last-child {
            margin-top: 10px;
          }
          > div {
            height: 30px;
            display: flex;
            flex-flow: row wrap;
            // border: 1px solid gray;
            cursor: pointer;
            padding: 2px 6px;
            margin: 3px;
            border-radius: 5px;
            transition: all 300ms;
          }
          > div:hover {
            @media screen and (min-width: 1223px) {
              background-color: #ccc;
              color: #441a7b;
            }
            span {
              transition: all 200ms;
              transform: translate(5px, 0);
            }
          }
        }
      }
    }
  }
  .hamburguer {
    align-self: flex-end;
    margin-right: 1rem;
    display: none;
  }
}

@media (max-width: 567px) {
  .containerNavbar {
    .firstSection {
      .mp {
        figure,
        img {
          width: 70px !important;
        }        
      }
      .fpay {
        figure,
        img {
          width: 40px !important;
        }
      }
      .honor,
      .jac {
        figure,
        img {
          width: 45px !important;
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .containerNavbar {
    justify-content: space-between;
    .firstSection {
      justify-content: flex-start;
      margin: 0px !important;
      flex-basis: 90% !important;
      .mp {
        figure:nth-child(1),
        span {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .containerNavbar {
    .firstSection {
      margin: 0 2rem;
    }

    .hamburguer {
      display: block !important;
    }
    .secondSectionHamburguer > div {
      width: 100% !important;
    }
  }
}

@media (max-width: 1223px) {
  .containerNavbar {
    justify-content: space-between;
    .firstSection {
      order: 1;
      flex-basis: 80%;
      // padding-top: 1rem;
      .honor {
        figure:nth-child(1),
        span {
          display: none !important;
        }
        margin-right: 12px;
      }
      .vehiculoElectrico {
        display: none;
      }
      .mp,
      .honor,
      .jac,
      .electron {
        padding-top: 1rem;
      }
    }
    .secondSection {
      position: fixed;
      top: 0;
      left: -100%;
      flex-flow: column wrap;
      background-color: #441a7b;
      min-width: 250px;
      width: 25%;
      height: 100%;
      z-index: 99999;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 2rem;
      border-radius: 0 0 0 0;
      transition: all 300ms;
      .countries {
        width: 100%;
        justify-content: start;
      }
      // clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
      .imgLogoCityBest {
        display: block;
        img {
          width: 150px;
        }
      }
      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      div:nth-child(1) {
        margin: 0px auto;
        margin-bottom: 2rem;
      }
      div:nth-child(n + 2) {
        figure {
          margin-top: 7px;
        }
      }
      div:nth-child(3) {
        margin: 0px;
        margin: 1rem 0;
      }
      div:nth-child(4) {
        span {
          margin-left: 3px;
        }
      }
      .imgBanner {
        display: block;
        position: absolute;
        top: calc(100vh - 200px);
        left: 20px;
        img {
          width: 90%;
        }
      }
    }
    .hamburguer {
      order: 2;
      display: block !important;
      width: 5%;
      > div {
        height: 65px !important;
      }
    }
    .secondSectionHamburguer {
      display: none;
    }

    .secondSection,
    .secondSectionHamburguer {
      .countries {
        .selectPaises {
          .menuSelectPaises {
            display: flex;
            flex-flow: column wrap;
            position: absolute;
            left: -185px;
            top: 65px;
            border: 1px solid black;
            background-color: transparent;
            color: black;
            width: 222px;
            border-radius: 5px;
            z-index: 99;
            padding: 0px !important;
            top: 45px;
            // padding: 3px 12px;
            div {
              width: 97.5%;
              padding: 0px;
              margin: 0px !important;
              height: fit-content;
              figure {
                img {
                  width: 35px;
                }
              }
            }
          }
        }
      }
    }
  }
}
