.containerSlider {
  top: 100px;
  margin-top: 188px;
}

@media screen and (min-width: 471px) {
  .containerSlider {
    top: 100px;
    margin-top: 152px;
  }
}

@media screen and (min-width: 599px) {
  .containerSlider {
    top: 100px;
    margin-top: 127px;    
  }
}

@media screen and (min-width: 894px) {
  .containerSlider {
    top: 100px;
    margin-top: 187px;
  }
}

@media screen and (min-width: 1075px) {
  .containerSlider {
    top: 100px;
    margin-top: 187px;
  }
}

@media screen and (min-width: 1085px) {
  .containerSlider {
    top: 100px;
    margin-top: 152px;
  }
}
